# Ignore environment secrets
.env
# Ignore all configuration directories
addarr_config/
bazarr_config/
jellyfin_config/
jellyfin_cache/
jellyfin_data/
prowlarr_config/
qbittorrent_config/
radarr_config/
sonarr_config/
filebrowser_config/
filebrowser_database/
