services:
  qbittorrent:
    image: ghcr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    ports:
      - "8080:8080"  # Web UI
      - "6881:6881"
      - "6881:6881/udp"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Riyadh
      - WEBUI_PORT=8080
    volumes:
      - /mnt/storage/qbittorrent:/downloads
      - ./qbittorrent_config:/config
    networks:
      - media_network

  sonarr:
    image: ghcr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    ports:
      - "8989:8989"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Riyadh
    volumes:
      - /mnt/storage/media/TV Shows:/media/tv
      - /mnt/storage/qbittorrent:/downloads
      - ./sonarr_config:/config
    networks:
      - media_network

  radarr:
    image: ghcr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    ports:
      - "7878:7878"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Riyadh
    volumes:
      - /mnt/storage/media/Movies:/media/movies
      - /mnt/storage/qbittorrent:/downloads
      - ./radarr_config:/config
    networks:
      - media_network

  prowlarr:
    image: ghcr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    ports:
      - "9696:9696"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Riyadh
    volumes:
      - /mnt/storage/qbittorrent:/downloads
      - ./prowlarr_config:/config
    networks:
      - media_network

  bazarr:
    image: ghcr.io/linuxserver/bazarr:latest
    container_name: bazarr
    restart: unless-stopped
    ports:
      - "6767:6767"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Riyadh
    volumes:
      - /mnt/storage/media/Movies:/media/movies
      - /mnt/storage/media/TV Shows:/media/tv
      - /mnt/storage/media:/media
      - /mnt/storage/qbittorrent:/downloads
      - ./bazarr_config:/config
    networks:
      - media_network

  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    ports:
      - "8096:8096"  # HTTP Web UI
      - "8920:8920"  # HTTPS Web UI (optional)
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Riyadh
    volumes:
      - /mnt/storage/media:/media
      - ./jellyfin_config:/config
      - ./jellyfin_cache:/cache
    networks:
      - media_network

  nginx_proxy_manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx_proxy_manager
    restart: unless-stopped
    ports:
      - "80:80"    # HTTP
      - "81:81"    # Admin UI
      - "443:443"  # HTTPS
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Riyadh
    volumes:
      - ./nginx_data:/data
      - ./nginx_letsencrypt:/etc/letsencrypt
    networks:
      - media_network

  readarr:
    image: ghcr.io/linuxserver/readarr:develop
    container_name: readarr
    restart: unless-stopped
    ports:
      - "8787:8787"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Riyadh
    volumes:
      - /mnt/storage/media/Books:/media/books
      - /mnt/storage/qbittorrent:/downloads
      - ./readarr_config:/config
    networks:
      - media_network
  
  calibre-web:
    image: lscr.io/linuxserver/calibre-web:latest
    container_name: calibre-web
    restart: unless-stopped
    ports:
      - "8083:8083"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Riyadh
    volumes:
      - /mnt/storage/media/Books:/books
      - ./calibre-web_config:/config
    networks:
      - media_network


  commandarr:
    image: samerzmd/commandarr:latest
    container_name: commandarr
    environment:
      TELEGRAM_TOKEN: $BOT_TOKEN
      SONARR_URL: sonarr
      SONARR_API_KEY: $SONARR_API_KEY
      RADARR_URL: radarr
      RADARR_API_KEY: $RADARR_API_KEY

  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser
    restart: unless-stopped
    ports:
      - "8082:80"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Riyadh
    volumes:
      - /mnt/storage:/srv
      - ./filebrowser_config:/config
      - ./filebrowser_database:/database
    networks:
      - media_network
  
  immich-server:
    image: ghcr.io/immich-app/immich-server:release
    container_name: immich_server
    restart: unless-stopped
    depends_on:
      - immich-redis
      - immich-postgres
    environment:
      - DB_URL=postgresql://immich:immichpassword@immich-postgres:5432/immich
      - REDIS_HOST=immich-redis
      - IMMICH_MACHINE_LEARNING_URL=http://immich-machine-learning:3003
      - NODE_ENV=production
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Riyadh
    volumes:
      - /mnt/storage/immich/library:/usr/src/app/upload
    networks:
      - media_network

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:release
    container_name: immich_ml
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Riyadh
    networks:
      - media_network

  immich-redis:
    image: redis:6
    container_name: immich_redis
    restart: unless-stopped
    networks:
      - media_network

  immich-postgres:
    image: postgres:14
    container_name: immich_postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=immich
      - POSTGRES_PASSWORD=immichpassword
      - POSTGRES_DB=immich
      - TZ=Asia/Riyadh
    volumes:
      - ./immich_postgres:/var/lib/postgresql/data
    networks:
      - media_network

  immich-web:
    image: ghcr.io/immich-app/immich-web:release
    container_name: immich_web
    restart: unless-stopped
    depends_on:
      - immich-server
    ports:
      - "2283:3000"
    environment:
      - IMMICH_SERVER_URL=http://immich-server:3001
    networks:
      - media_network

networks:
  media_network:
    driver: bridge
